{{define "title"}}Switch default settings configurator{{end}}
{{define "body"}}

<script>
    function adjustVlans() {
        let vlanDiv = document.getElementsByClassName("vlangrp")[0];
        let numVlans = vlanDiv.getElementsByClassName("count")[0].value;

        vlanIdxDiv = document.createElement('div');
        vlanIdxDiv.setAttribute("class", "vlanlist")

        for (let i = 0; i < numVlans; i++) {
            let sampleParagraph = document.createElement('p');
            sampleParagraph.textContent = "Vlan ID " + i;
            vlanIdxDiv.appendChild(sampleParagraph);
        }

        if (!(vlanDiv.getElementsByClassName("vlanlist")[0])) {
            vlanDiv.appendChild(vlanIdxDiv)
        } else {
            vlanDiv.getElementsByClassName("vlanlist")[0].replaceWith(vlanIdxDiv);
        }
    }

    function physicalPorts() {
        let physPortDiv = document.getElementsByClassName("physportsgrp")[0];
        let numPhysPorts = physPortDiv.getElementsByClassName("count")[0].value;

        physPortIdxDiv = document.createElement('div');
        physPortIdxDiv.setAttribute("class", "portlist");

        for (let i = 0; i < numPhysPorts; i++) {
            let physicalPortForm = document.createElement("div");
            let portTypeLabel = document.createElement("label");
            let portNumStartLabel = document.createElement("label");
            let portNumEndLabel = document.createElement("label");
            let loginMethodLabel = document.createElement("label");
            let transportMethodLabel = document.createElement("label");
            let passwordLabel = document.createElement("label");

            let portTypeInput = document.createElement("label");
            let portNumStartInput = document.createElement("input");
            let portNumEndInput = document.createElement("input");
            let loginMethodInput = document.createElement("input");
            let transportMethodInput = document.createElement("input");
            let passwordInput = document.createElement("input");

            portTypeLabel.textContent = "Port type";
            portNumStartLabel.textContent = "Starting port number";
            portNumEndLabel.textContent = "Ending port number";
            loginMethodLabel.textContent = "Login method";
            transportMethodLabel.textContent = "Transport";
            passwordLabel.textContent = "Password";

            portTypeInput.setAttribute("type", "text");
            portNumStartInput.setAttribute("type", "number");
            portNumEndInput.setAttribute("type", "number");
            loginMethodInput.setAttribute("type", "text");
            transportMethodInput.setAttribute("type", "text");
            passwordInput.setAttribute("type", "password");

            portTypeInput.setAttribute("class", "form-control");
            portNumStartInput.setAttribute("class", "form-control");
            portNumEndInput.setAttribute("class", "form-control");
            loginMethodInput.setAttribute("class", "form-control");
            transportMethodInput.setAttribute("class", "form-control");
            passwordInput.setAttribute("class", "form-control");

            physicalPortForm.appendChild(portTypeLabel);
            physicalPortForm.appendChild(portTypeInput);
            physicalPortForm.appendChild(portNumStartLabel);
            physicalPortForm.appendChild(portNumStartInput);
            physicalPortForm.appendChild(portNumEndLabel);
            physicalPortForm.appendChild(portNumEndInput);
            physicalPortForm.appendChild(loginMethodLabel);
            physicalPortForm.appendChild(loginMethodInput);
            physicalPortForm.appendChild(transportMethodLabel);
            physicalPortForm.appendChild(transportMethodInput);
            physicalPortForm.appendChild(passwordLabel);
            physicalPortForm.appendChild(passwordInput);
            physPortIdxDiv.appendChild(physicalPortForm);
            physPortIdxDiv.appendChild(document.createElement("br"));
        }

        if (!(physPortDiv.getElementsByClassName("portlist")[0])) {
            physPortDiv.appendChild(physPortIdxDiv);
        } else {
            physPortDiv.getElementsByClassName("portlist")[0].replaceWith(physPortIdxDiv);
        }
    }
    setTimeout(function() {
        let vlansDiv = document.getElementsByClassName("vlangrp")[0];
        let physicalPortsDiv = document.getElementsByClassName("physportsgrp")[0];

        vlansDiv.addEventListener("change", adjustVlans);
        physicalPortsDiv.addEventListener("change", physicalPorts);
    }, 10)
</script>

<form>
    <div class="form-group vlangrp">
        <label for="vlan">Vlans</label>
        <input type="number" class="form-control count" id="vlan">
    </div>

    <div class="form-group physportsgrp">
        <label for="physports">Physical ports</label>
        <input type="number" class="form-control count" id="physports">
    </div>

    <div class="form-group gateway">
        <label for="gateway">Default gateway</label>
        <input type="text" class="form-control" id="gateway">
    </div>

    <div class="form-group enablepw">
        <label for="enablepw">Enable password</label>
        <input type="text" class="form-control" id="enablepw">
    </div>

    <div class="form-group domainname">
        <label for="domainname">Domain Name</label>
        <input type="text" class="form-control" id="domainname">
    </div>

    <div class="form-group hostname">
        <label for="hostname">Host Name</label>
        <input type="text" class="form-control" id="hostname">
    </div>

    <div class="form-group banner">
        <label for="banner">Banner</label>
        <input type="text" class="form-control" id="banner">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}