{{define "title"}}Switch default settings configurator{{end}}
{{define "body"}}

<script>
    function adjustVlans() {
        let vlanDiv = document.getElementsByClassName("vlangrp")[0];
        let numVlans = vlanDiv.getElementsByClassName("count")[0].value;

        vlanIdxDiv = document.createElement('div');
        vlanIdxDiv.setAttribute("class", "vlanlist")

        for (let i = 0; i < numVlans; i++) {
            let sampleParagraph = document.createElement('p');
            sampleParagraph.textContent = "Vlan ID " + i;
            vlanIdxDiv.appendChild(sampleParagraph);
        }

        if (!(vlanDiv.getElementsByClassName("vlanlist")[0])) {
            vlanDiv.appendChild(vlanIdxDiv)
        } else {
            vlanDiv.getElementsByClassName("vlanlist")[0].replaceWith(vlanIdxDiv);
        }
    }

    function physicalPorts() {
        let physPortDiv = document.getElementsByClassName("physportsgrp")[0];
        let numPhysPorts = physPortDiv.getElementsByClassName("count")[0].value;

        physPortIdxDiv = document.createElement('div');
        physPortIdxDiv.setAttribute("class", "portlist");

        for (let i = 0; i < numPhysPorts; i++) {
            let physicalPortForm = document.createElement("div");
            let portTypeLabel = document.createElement("label");
            let portNumStartLabel = document.createElement("label");
            let portNumEndLabel = document.createElement("label");
            let loginMethodLabel = document.createElement("label");
            let transportMethodLabel = document.createElement("label");
            let passwordLabel = document.createElement("label");

            let portTypeInput = document.createElement("select");
            let portNumStartInput = document.createElement("input");
            let portNumEndInput = document.createElement("input");
            let loginMethodInput = document.createElement("select");
            let transportMethodInput = document.createElement("select");
            let passwordInput = document.createElement("input");

            // Breaks for the console line
            let startConfBr = document.createElement("br");
            let sectionHeader = document.createElement("h4");
            let endConfBr = document.createElement("br");

            portTypeLabel.textContent = "Console line " + (i + 1);
            portNumStartLabel.textContent = "Starting line number";
            portNumEndLabel.textContent = "Ending line number";
            loginMethodLabel.textContent = "Login method";
            transportMethodLabel.textContent = "Transport";
            passwordLabel.textContent = "Password";

            portTypeLabel.setAttribute("for", "portType" + i);
            portNumStartLabel.setAttribute("for", "portRangeStart" + i);
            portNumEndLabel.setAttribute("for", "portRangeEnd" + i);
            loginMethodLabel.setAttribute("for", "loginPort" + i);
            transportMethodLabel.setAttribute("for", "transportPort" + i);
            passwordLabel.setAttribute("for", "passwordPort" + i);

            // Create dropdown options for console type
            let consoleLine = document.createElement("option");
            let vtyLine = document.createElement("option");
            consoleLine.setAttribute("value", "console");
            vtyLine.setAttribute("value", "vty");
            consoleLine.textContent = "Console";
            vtyLine.textContent = "VTY";
            portTypeInput.appendChild(consoleLine);
            portTypeInput.appendChild(vtyLine);

            // Set login method type options
            let localAuthLogin = document.createElement("option");
            let passwordLogin = document.createElement("option");
            let noAuthLogin = document.createElement("option");
            localAuthLogin.setAttribute("value", "local");
            passwordLogin.setAttribute("value", "passwd");
            noAuthLogin.setAttribute("value", "noAuth");
            localAuthLogin.textContent = "Local Auth (login local)";
            passwordLogin.textContent = "Password Auth (login)";
            noAuthLogin.textContent = "No auth";
            loginMethodInput.appendChild(localAuthLogin);
            loginMethodInput.appendChild(passwordLogin);
            loginMethodInput.appendChild(noAuthLogin);

            // Set transport options
            let transportSsh = document.createElement("option");
            let transportTelnet = document.createElement("option");
            let transportDefault = document.createElement("option");
            transportSsh.setAttribute("value", "ssh");
            transportTelnet.setAttribute("value", "telnet");
            transportDefault.setAttribute("value", "ssh&telnet");
            transportSsh.textContent = "SSH";
            transportTelnet.textContent = "Telnet";
            transportDefault.textContent = "Default (SSH & Telnet)";
            transportMethodInput.appendChild(transportSsh);
            transportMethodInput.appendChild(transportTelnet);
            transportMethodInput.appendChild(transportDefault);

            // Set input form types appropriately
            portTypeInput.setAttribute("type", "text");
            portNumStartInput.setAttribute("type", "number");
            portNumEndInput.setAttribute("type", "number");
            loginMethodInput.setAttribute("type", "text");
            transportMethodInput.setAttribute("type", "text");
            passwordInput.setAttribute("type", "password");

            // Port numbers: set appropriate ranges
            portNumStartInput.setAttribute("min", "0");
            portNumStartInput.setAttribute("max", "15");
            portNumEndInput.setAttribute("min", "0");
            portNumEndInput.setAttribute("max", "15");

            // Set the appropriate classes
            portTypeInput.setAttribute("class", "form-control");
            portNumStartInput.setAttribute("class", "form-control");
            portNumEndInput.setAttribute("class", "form-control");
            loginMethodInput.setAttribute("class", "form-control");
            transportMethodInput.setAttribute("class", "form-control");
            passwordInput.setAttribute("class", "form-control");

            // Set IDs
            portTypeInput.setAttribute("id", "portType" + i);
            portNumStartInput.setAttribute("id", "portRangeStart" + i);
            portNumEndInput.setAttribute("id", "portRangeEnd" + i);
            loginMethodInput.setAttribute("id", "loginPort" + i);
            transportMethodInput.setAttribute("id", "transportPort" + i);
            passwordInput.setAttribute("id", "passwordPort" + i);

            // Make required fields required
            portNumStartInput.required = true;
            portNumEndInput.required = true;

            // Add all to the form
            physicalPortForm.appendChild(startConfBr);
            physicalPortForm.appendChild(sectionHeader);
            physicalPortForm.appendChild(portTypeLabel);
            physicalPortForm.appendChild(portTypeInput);
            physicalPortForm.appendChild(portNumStartLabel);
            physicalPortForm.appendChild(portNumStartInput);
            physicalPortForm.appendChild(portNumEndLabel);
            physicalPortForm.appendChild(portNumEndInput);
            physicalPortForm.appendChild(loginMethodLabel);
            physicalPortForm.appendChild(loginMethodInput);
            physicalPortForm.appendChild(transportMethodLabel);
            physicalPortForm.appendChild(transportMethodInput);
            physicalPortForm.appendChild(passwordLabel);
            physicalPortForm.appendChild(passwordInput);
            physicalPortForm.appendChild(endConfBr);
            physPortIdxDiv.appendChild(physicalPortForm);
        }

        if (!(physPortDiv.getElementsByClassName("portlist")[0])) {
            physPortDiv.appendChild(physPortIdxDiv);
        } else {
            physPortDiv.getElementsByClassName("portlist")[0].replaceWith(physPortIdxDiv);
        }
    }

    setTimeout(function() {
        let vlansDiv = document.getElementsByClassName("vlangrp")[0];
        let physicalPortsDiv = document.getElementsByClassName("physportsgrp")[0];

        let vlanCount = vlansDiv.getElementsByClassName("count")[0]
        let physicalPortCount = physicalPortsDiv.getElementsByClassName("count")[0];

        vlanCount.addEventListener("change", adjustVlans);
        physicalPortCount.addEventListener("change", physicalPorts);
    }, 10)
</script>

<form>
    <div class="form-group vlangrp">
        <label for="vlan">Vlans</label>
        <input type="number" class="form-control count" id="vlan">
    </div>

    <div class="form-group physportsgrp">
        <label for="physports">Console lines</label>
        <input type="number" class="form-control count" id="physports">
    </div>

    <div class="form-group gateway">
        <label for="gateway">Default gateway</label>
        <input type="text" class="form-control" id="gateway">
    </div>

    <div class="form-group enablepw">
        <label for="enablepw">Enable password</label>
        <input type="text" class="form-control" id="enablepw">
    </div>

    <div class="form-group domainname">
        <label for="domainname">Domain Name</label>
        <input type="text" class="form-control" id="domainname">
    </div>

    <div class="form-group hostname">
        <label for="hostname">Host Name</label>
        <input type="text" class="form-control" id="hostname">
    </div>

    <div class="form-group banner">
        <label for="banner">Banner</label>
        <input type="text" class="form-control" id="banner">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{end}}