{{define "title"}}Configure device resetting parameters{{end}}
{{define "body"}}
<script>
    function getLabel(reqLabel) {
        let labels = document.getElementsByTagName("label");
        for (let i = 0; i < labels.length; i++) {
            if (labels[i].getAttribute("for") == reqLabel) {
                return i;
            }
        }
        return -1;
    }
    function toggleDefaultsRequired() {
        let defaultsCheckbox = document.getElementById("defaults");
        let defaultsFile = document.getElementById("defaultsFile");
        let defaultsLabel = document.getElementsByTagName("label")[getLabel("defaults")];
        defaultsFile.required = defaultsCheckbox.required;
        if (defaultsCheckbox.checked) {
            defaultsFile.style.display = '';
            defaultsLabel.style.display = '';
        } else {
            defaultsFile.style.display = 'none';
            defaultsLabel.style.display = 'none';
        }
        console.log("Defaults file is now " + ((document.getElementById("defaultsFile").required) ? "" : "no longer ") + "required");
    }
    function toggleBackupExtras() {
        let backupCheckbox = document.getElementById("backup");
        let builtinInput = document.getElementById("builtin");
        let dhcpInput = document.getElementById("dhcp");
        let destinationInput = document.getElementById("destination");
        let dhcpLabel = document.getElementsByTagName("label")[getLabel("dhcp")];
        let builtinLabel = document.getElementsByTagName("label")[getLabel("builtin")];
        let destinationLabel = document.getElementsByTagName("label")[getLabel("destination")];;
        if (backupCheckbox.checked) {
            dhcpInput.style.display = '';
            dhcpLabel.style.display = '';
            builtinInput.style.display = '';
            builtinLabel.style.display = '';
            destinationInput.style.display = '';
            destinationLabel.style.display = '';
            destinationInput.required = true    ;
        } else {
            dhcpInput.style.display = 'none';
            dhcpLabel.style.display = 'none';
            builtinInput.style.display = 'none';
            builtinLabel.style.display = 'none';
            destinationInput.style.display = 'none';
            destinationLabel.style.display = 'none';
            destinationInput.required = false;
        }
        toggleTemporarySourceIpRequired()
    }
    function toggleTemporarySourceIpRequired() {
        let dhcpInput = document.getElementById("dhcp");
        let sourceInput = document.getElementById("source");
        let maskInput = document.getElementById("mask");
        let sourceLabel = document.getElementsByTagName("label")[getLabel("source")];
        let maskLabel = document.getElementsByTagName("label")[getLabel("mask")];

        sourceInput.required = !dhcpInput.checked;
        console.log("Source IP is now " + ((sourceInput.required) ? "" : "no longer ") + "required");
        if (!dhcpInput.checked) {
            sourceInput.style.display = '';
            sourceLabel.style.display = '';
        } else {
            sourceInput.style.display = 'none';
            sourceLabel.style.display = 'none';
        }
        maskInput.required = !dhcpInput.checked;
        console.log("Subnet mask is now " + ((!dhcpInput.checked) ? "" : "no longer ") + "required");
        if (!dhcpInput.checked) {
            maskLabel.style.display = '';
            maskInput.style.display = '';
        } else {
            maskLabel.style.display = 'none';
            maskInput.style.display = 'none';
        }
    }
    setTimeout(function() {
        let defaultsFile = document.getElementById("defaultsFile");
        let defaultsLabel = document.getElementsByTagName("label")[5];
        let defaultsCheckbox = document.getElementById("defaults");
        let dhcpCheckbox = document.getElementById("dhcp");
        let backupCheckbox = document.getElementById("backup");
        defaultsFile.style.display = 'none';
        defaultsLabel.style.display = 'none';
        defaultsCheckbox.addEventListener("change", toggleDefaultsRequired);
        backupCheckbox.addEventListener("change", toggleBackupExtras);
        dhcpCheckbox.addEventListener("change", toggleTemporarySourceIpRequired);
        dhcpCheckbox.checked = true;
        for (let i = 0; i < 2; i++) {
            toggleBackupExtras()
        }
    }, 10);

</script>
<form action='/reset/' method='post' enctype='multipart/form-data'>
    <br>
    <h6>Choose device type</h6>
    <div class=form-check>
        <label class='form-check-label' for='router'>Router</label>
        <input class='form-check-input' type='radio' name='device' id='router' value='router' required>
    </div>
    <div class=form-check>
        <label class='form-check-label' for='switch'>Switch</label>
        <input class='form-check-input' type='radio' name='device' id='switch' value='switch' required>
    </div>
    <br>

    <h6>Verbosity</h6>
    <div class=form-check>
        <label class='form-check-label' for='verbose'>Verbose? </label>
        <input class='form-check-input' type='checkbox' id='verbose' name='verbose' value='verbose'>
    </div>

    <br>
    <h6>Functionality</h6>
    <div class=form-check>
        <label class='form-check-label' for='reset'>Reset? </label>
        <input class='form-check-input' type='checkbox' id='reset' name='reset' value='reset'>
    </div>

    <div class=form-check>
        <label class='form-check-label' for='defaults'>Apply defaults? </label>
        <input class='form-check-input' type='checkbox' id='defaults' name='defaults' value='defaults'>
    </div>
    <div class=form-group>
        <label for='defaultsFile'>Defaults File</label>
        <input type='file' class='form-control-file' id='defaultsFile' name='defaultsFile'>
    </div>

    <br>
    <h6>Backups</h6>
    <div class=form-check>
        <label class='form-check-label' for='backup'>Backup config?</label>
        <input class='form-check-input' type='checkbox' id='backup' name='backup' value='backup'>
    </div>

    <div class=form-check>
        <label class='form-check-label' for='dhcp'>Use DHCP Address?</label>
        <input class='form-check-input' type='checkbox' id='dhcp' name='dhcp' value='dhcp'>
    </div>

    <div class=form-check>
        <label class='form-check-label' for='builtin'>Use built-in TFTP server?</label>
        <input class='form-check-input' type='checkbox' id='builtin' name='builtin' value='builtin'>
    </div>

    <br>
    <div class="form-group form-check-inline">
        <label class='form-check-label' for='source'>Temporary IP address for device</label>
        <input type="text" class="form-control" id="source" name="source" required>
    </div>

    <div class="form-group form-check-inline">
        <label class='form-check-label' for='mask'>Temporary subnet mask for device</label>
        <input type="text" class="form-control" id="mask" name="mask" required>
    </div>

    <br>
    <br>
    <div class="form-group form-check-inline">
        <label class='form-check-label' for='destination'>TFTP Server address</label>
        <input type="text" class="form-control" id="destination" name="destination">
    </div>

    <input type="hidden" id="port" name="port" value="{{ .Port }}">
    <input type="hidden" id="baud" name="baud" value="{{ .BaudRate }}">
    <input type="hidden" id="data" name="data" value="{{ .DataBits }}">
    <input type="hidden" id="parity" name="parity" value="{{ .Parity }}">
    <input type="hidden" id="stop" name="stop" value="{{ .StopBits }}">
    <br>
    <br>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{{end}}
