{{define "title"}}
Serial ports list
{{end}}
{{define "body"}}
{{$serial := . | len -}}
{{if ne $serial 0}}
<h3>Serial ports present: {{ . | len -}}</h3>
<table class="table table-hover">
    <tr>
        <th>Port</th>
        <th>Description</th>
        <th>USB?</th>
        <th>PID:VID</th>
        <th>Serial</th>
    </tr>
    {{ range . }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Product }}</td>
        <td>{{ if .IsUSB }}Yes{{ else }}No{{ end }}</td>
        <td>{{ if .IsUSB }}{{ .PID }}:{{ .VID }}{{ end}}</td>
        <td>{{ if .IsUSB }}{{ .SerialNumber }}{{ end }}</td>
    </tr>
    {{ end }}
</table>
{{ else }}
<h3>No serial ports found on host</h3>
{{ end }}
{{end}}